## Project specific files

.gitattributes
.npmignore
.gitconfig
.travis.yml
.vsnodetools.sln
tsconfig.json

## Ignore Visual Studio files

*.map
*.lsn
*.suo
*.njsproj
*.user
*.userosscache
*.sln.docstates


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
typings/
bin/
obj/
.vs/

test/*.ts

# Exclude sources
lib/enumerable.ts
lib/generators.ts
lib/iterators.ts
lib/linq.ts
lib/utilities.ts